body{
	border: 2px solid black;
}
.card-body{ border: 2px solid black;}
.main-btn{
			position: relative;
			left: 50px;
			margin: 2px;
				
		}
		.bton{
			margin: 2px;
			font-size: 2.5em;
	      	min-width: 55px;
                  border: 1px solid black;
		}
		input{
			width: 280px;;
			height: 60px ;
			background: #000;
			position: relative;
			text-align: right;
			
			vertical-align: bottom;
			font-size: 18px;
			top: 20px;
			left: 10%;
			padding: 20px;
			border-radius: 5px;
			margin: 6px;
			color: #fff;
		}
		.clr{
			background: #777777;
			color: #fff;
		}
